.outlet-admin {
  min-height: calc(100vh - 160px);
}

.active {
  color: #ec2020;
}

.admin-player {
  display: grid;
  grid-template-columns: repeat(14, minmax(100px, 1fr));
  font-family: "Montserrat", sans-serif;
}
