.parallax-div {
  width: 100vw;
  position: absolute;
}
.wrapper-home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .container-home {
    display: flex;
    position: fixed;
    bottom: 0;
    .borne-arcade {
      margin: 0 auto;
      display: block;
      height: 90vh;
      z-index: 3;
    }
    .start-video {
      position: absolute;
      top: 35.5%;
      left: 20.7%;
      width: 59%;
    }
  }
}
