.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .container-form {
    display: flex;
    position: fixed;
    bottom: 0;
    .borne-arcade {
      margin: 0 auto;
      display: block;
      height: 90vh;
      z-index: 3;
    }
    .login-form {
      position: absolute;
      top: 53%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 4;
    }
  }
}
