@import url("https://fonts.cdnfonts.com/css/upheaval");
@import "../styles/root.scss";
.scrolled {
  background-color: $second-color;
  box-shadow: 9px 12px 41px -5px rgba(0, 0, 0, 0.83);
}
.navbar {
  font-family: "Upheaval TT (BRK)", sans-serif;
  font-size: x-large;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 0 30px;
  position: fixed;
  top: 0;
  /* position: absolute;*/
  width: 100%;
  z-index: 4;
  @media screen and (min-width: 361px) and (max-width: 730px) {
    font-size: 1rem;
    padding: 0px 10px;
  }
  @media screen and (max-width: 361px) {
    font-size: 0.7rem;
    padding: 0 5px;
  }

  /*   position: absolute; */
  .navbar-left {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(159deg)
      brightness(102%) contrast(105%) drop-shadow(2px 2px 2px black);
    @media screen and (min-width: 391px) and (max-width: 730px) {
      width: 3rem;
    }
    @media screen and (max-width: 390px) {
      width: 2rem;
    }
  }

  .navbar-middle {
    display: flex;
    list-style: none;
    gap: 2rem;
  }
  ul {
    padding: 0;
    li {
      .link {
        color: white;
        text-shadow: 2px 2px 2px black;
      }
    }
  }
  .lf-player-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p {
    color: white;
  }
  .navbar-right {
    .link {
      color: white;
      text-shadow: 2px 2px 2px black;
    }
  }
}

.logout {
  text-shadow: 2px 2px 2px black;
}
