@import url("https://fonts.cdnfonts.com/css/upheaval");

.navbar {
  font-family: "Upheaval TT (BRK)", sans-serif;
  font-size: x-large;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0 20px;
  position: fixed;
  top: 0;
  /*   position: absolute; */
  width: 100%;
  z-index: 4;
  .navbar-left {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(159deg)
      brightness(102%) contrast(105%);
  }

  .navbar-middle {
    display: flex;
    list-style: none;
    gap: 2rem;
  }
  ul {
    padding: 0;
    li {
      color: white;
    }
  }
  .lf-player-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p {
    color: white;
  }
}
