.pacman-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100vw;
  margin: 0 auto;

  .borne-arcade {
    top: 0;
    position: absolute;
    z-index: 2;
    transform: scale(1.2);
    @media screen and (min-width: 1600px) {
      transform: scale(1.2);
    }
    @media screen and (min-width: 1920px) {
      top: 13px;
      margin-bottom: 160px;
      transform: scale(2.1);
    }
  }
  .pacman-play {
    position: absolute;
    z-index: 100;
    top: 45vh;
    margin: 1.5rem;
    height: 3rem;
    width: 15rem;
    font-size: 1.7rem;
    color: #3d3d3d;
    background-color: #f9c80e;
    padding: 5px 30px;
    border: none;
    box-shadow: 12px 12px 5px 1px rgba(0, 0, 0, 0.25);
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .game {
    overflow: hidden !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    width: 50vw;
    height: 70vh;
    transform: scale(0.8);
    background-color: black;
    @media screen and (min-width: 1600px) {
      margin-bottom: 160px;
      transform: scale(1.2);
    }
    @media screen and (min-width: 1920px) {
      margin-bottom: 250px;
      transform: scale(1.2);
    }
  }
}
