@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.cdnfonts.com/css/upheaval");

$font-color: white;
$first-color: #920075;
$second-color: #f9c80e;
$shop-color1: #f36d84;
$shop-color2: #3d2579;
$neutral-color: #bbbbbb;
$font: "Upheaval TT (BRK)", sans-serif;

* {
  margin: 0;
  padding: 0;
  font-family: $font;
}

body {
  background-image: url(../assets/images/FondGlobal.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.s-coin {
  width: 100px;
}
.l-coin {
  width: 200px;
}
